<a href="https://colab.research.google.com/github/Akshay-Rajesh/Note/blob/main/loan_data_prediction_using_Random_Forest_%2C_gradient_boosting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **To deploy a machine leanring model to predict wheather the person is ready to pay the EMI forthe 13 month .**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
data = pd.read_csv("loan_dataset.csv")

### **checking our data set**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33623 entries, 0 to 33622
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   loan_id                   33623 non-null  int64
 1   source                    33623 non-null  object
 2   financial_institution     33623 non-null  object
 3   interest_rate             33623 non-null  float64
 4   unpaid_principal_bal      33623 non-null  int64
 5   loan_term                 33623 non-null  int64
 6   origination_date          33623 non-null  object
 7   first_payment_date        33623 non-null  object
 8   loan_to_value             33623 non-null  int64
 9   number_of_borrowers       33623 non-null  float64
 10  debt_to_income_ratio      33623 non-null  float64
 11  borrower_credit_score     33623 non-null  float64
 12  loan_purpose              33623 non-null  object
 13  insurance_percent         33623 non-null  float64
 14  co-borrower_credit_score  33623 non-null  float64
 15  insurance_type            33623 non-null  float64
 16  m1                        33623 non-null  int64
 17  m2                        33623 non-null  int64
 18  m3                        33623 non-null  int64
 19  m4                        33623 non-null  int64
 20  m5                        33623 non-null  int64
 21  m6                        33623 non-null  int64
 22  m7                        33623 non-null  int64
 23  m8                        33623 non-null  int64
 24  m9                        33623 non-null  int64
 25  m10                       33623 non-null  int64
 26  m11                       33623 non-null  int64
 27  m12                       33623 non-null  int64
 28  m13                       33622 non-null  float64
dtypes: float64(8), int64(16), object(5)
memory usage: 7.4+ MB

In [4]:
data.shape

(33623, 29)

In [5]:
data.head()

        loan_id source       financial_institution  ...  m11  m12  m13
0  268055008619      Z  Turner, Baldwin and Rhodes  ...    0    0  1.0
1  672831657627      Y  Swanson, Newton and Miller  ...    1    0  1.0
2  742515242108      Z              Thornton-Davis  ...    0    0  1.0
3  601385667462      X                       OTHER  ...    1    1  1.0
4  273870029961      X                       OTHER  ...   10   11  1.0

[5 rows x 29 columns]

In [6]:
data.isna().sum()

loan_id                     0
source                      0
financial_institution       0
interest_rate               0
unpaid_principal_bal        0
loan_term                   0
origination_date            0
first_payment_date          0
loan_to_value               0
number_of_borrowers         0
debt_to_income_ratio        0
borrower_credit_score       0
loan_purpose                0
insurance_percent           0
co-borrower_credit_score    0
insurance_type              0
m1                          0
m2                          0
m3                          0
m4                          0
m5                          0
m6                          0
m7                          0
m8                          0
m9                          0
m10                         0
m11                         0
m12                         0
m13                         1
dtype: int64

In [7]:
pd.isnull(data["first_payment_date"])

0        False
1        False
2        False
3        False
4        False
         ...
33618    False
33619    False
33620    False
33621    False
33622    False
Name: first_payment_date, Length: 33623, dtype: bool

In [8]:
data.tail()

            loan_id source       financial_institution  ...  m11  m12  m13
33618  560073442048      X                       OTHER  ...    0    0  0.0
33619  276165295090      Y  Swanson, Newton and Miller  ...    0    0  0.0
33620  924499717126      X                       OTHER  ...    0    0  0.0
33621  437226773729      Y            Richards-Walters  ...    0    0  0.0
33622  817326954122      Y               Browning-Hart  ...    0    0  NaN

[5 rows x 29 columns]

### **since we have only one row with many missing values we can drop it **

In [9]:
data = data.dropna()

In [10]:
data.tail()

            loan_id source       financial_institution  ...  m11  m12  m13
33617  563809534379      Y    Martinez, Duffy and Bird  ...    0    0  0.0
33618  560073442048      X                       OTHER  ...    0    0  0.0
33619  276165295090      Y  Swanson, Newton and Miller  ...    0    0  0.0
33620  924499717126      X                       OTHER  ...    0    0  0.0
33621  437226773729      Y            Richards-Walters  ...    0    0  0.0

[5 rows x 29 columns]

### **pre processing**

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33622 entries, 0 to 33621
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   loan_id                   33622 non-null  int64
 1   source                    33622 non-null  object
 2   financial_institution     33622 non-null  object
 3   interest_rate             33622 non-null  float64
 4   unpaid_principal_bal      33622 non-null  int64
 5   loan_term                 33622 non-null  int64
 6   origination_date          33622 non-null  object
 7   first_payment_date        33622 non-null  object
 8   loan_to_value             33622 non-null  int64
 9   number_of_borrowers       33622 non-null  float64
 10  debt_to_income_ratio      33622 non-null  float64
 11  borrower_credit_score     33622 non-null  float64
 12  loan_purpose              33622 non-null  object
 13  insurance_percent         33622 non-null  float64
 14  co-borrower_credit_score  33622 non-null  float64
 15  insurance_type            33622 non-null  float64
 16  m1                        33622 non-null  int64
 17  m2                        33622 non-null  int64
 18  m3                        33622 non-null  int64
 19  m4                        33622 non-null  int64
 20  m5                        33622 non-null  int64
 21  m6                        33622 non-null  int64
 22  m7                        33622 non-null  int64
 23  m8                        33622 non-null  int64
 24  m9                        33622 non-null  int64
 25  m10                       33622 non-null  int64
 26  m11                       33622 non-null  int64
 27  m12                       33622 non-null  int64
 28  m13                       33622 non-null  float64
dtypes: float64(8), int64(16), object(5)
memory usage: 7.7+ MB

Wehn we are doing a ML model it is suggested to not use object data type , we have to do some preprocessing to convert it or remove it

In [12]:
data[["origination_date" , "first_payment_date"]]

      origination_date first_payment_date
0           2012-03-01            05/2012
1           2012-01-01            03/2012
2           2012-01-01            03/2012
3           2012-02-01            04/2012
4           2012-02-01            04/2012
...                ...                ...
33617       2012-01-01            03/2012
33618       2012-01-01            03/2012
33619       2012-01-01            03/2012
33620       2012-01-01            03/2012
33621       2012-02-01            04/2012

[33622 rows x 2 columns]

In [13]:
data.columns

Index(['loan_id', 'source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12',
       'm13'],
      dtype='object')

In [14]:
x = data.drop(["loan_id" ,"origination_date","first_payment_date","insurance_percent","insurance_type" ,"m13"] , axis =1)

In [15]:
y =pd.DataFrame(data["m13"])

In [16]:
x["financial_institution"].value_counts()

OTHER                          14410
Browning-Hart                   9176
Swanson, Newton and Miller      1999
Edwards-Hoffman                 1409
Martinez, Duffy and Bird        1361
Miller, Mcclure and Allen        959
Nicholson Group                  624
Suarez Inc                       519
Turner, Baldwin and Rhodes       509
Cole, Brooks and Vincent         467
Richards-Walters                 422
Taylor, Hunt and Rodriguez       394
Sanchez-Robinson                 333
Sanchez, Hays and Wilkerson      247
Romero, Woods and Johnson        231
Thornton-Davis                   202
Anderson-Taylor                  134
Richardson Ltd                   121
Chapman-Mcmahon                  105
Name: financial_institution, dtype: int64

financial institution is an object , so we have t do encoding on it

In [17]:
#Label encooding

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
# we use the below code to do do label encoding for our data set

In [20]:
label_en =LabelEncoder()
a = ["financial_institution"]
for i in np.arange(len(a)):
  x[a[i]] = label_en.fit_transform(x[a[i]])

In [21]:
# now we do one hot encoding to remaining data set

In [22]:
x["source"].value_counts()

X    18462
Y    10901
Z     4259
Name: source, dtype: int64

In [23]:
source_en = pd.get_dummies(x["source"])
loanp_en = pd .get_dummies(x["loan_purpose"])

In [24]:
# we attach the one hot encoded values to our x
x = pd.concat([x,source_en,loanp_en], axis =1)

In [25]:
# we drop the main coluns which we encoded above 
x = x.drop(["source","loan_purpose"], axis =1)

In [26]:
x.shape

(33622, 27)

### **Feature engineering**

# **we have two features here which is borrower and co borrower credit score which we can combine and make it as one **

In [27]:
x["credit_score"] = x["borrower_credit_score"]+x["co-borrower_credit_score"]

In [28]:
x = x.drop(["borrower_credit_score" , "co-borrower_credit_score"] , axis=1)

In [29]:
x.columns

Index(['financial_institution', 'interest_rate', 'unpaid_principal_bal',
       'loan_term', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'm1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8',
       'm9', 'm10', 'm11', 'm12', 'X', 'Y', 'Z', 'A23', 'B12', 'C86',
       'credit_score'],
      dtype='object')

we create addition features such as mean , sum , kurtoisis , skew

In [30]:
x["mean"] = x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8',
       'm9', 'm10', 'm11', 'm12']].mean(axis=1)

In [31]:
x["sum"] =x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8',
       'm9', 'm10', 'm11', 'm12']].sum(axis=1)

In [32]:
x["skew"] = x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8',
       'm9', 'm10', 'm11', 'm12']].skew(axis=1)

In [33]:
x["kurt"] = x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8',
       'm9', 'm10', 'm11', 'm12']].kurt(axis=1)

In [34]:
x.columns

Index(['financial_institution', 'interest_rate', 'unpaid_principal_bal',
       'loan_term', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'm1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8',
       'm9', 'm10', 'm11', 'm12', 'X', 'Y', 'Z', 'A23', 'B12', 'C86',
       'credit_score', 'mean', 'sum', 'skew', 'kurt'],
      dtype='object')

In [34]:
#splitting the data

In [37]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(x,y,random_state=2,test_size=0.3)

In [39]:
X_train.shape

(23535, 30)

In [40]:
y_train.shape

(23535, 1)

In [42]:
X_test.shape

(10087, 30)

In [43]:
y_test.shape

(10087, 1)

In [ ]:
#building the model

In [44]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
from sklearn.metrics import accuracy_score , f1_score , confusion_matrix

In [47]:
f1_score(y_test,y_pred)

0.5784615384615386

### **if the F1 score is near to one our model is good , if its near to zero our model is not that great **

In [50]:
confusion_matrix(y_test,y_pred)

array([[9856,   24],
       [ 113,   94]])

In [ ]:
#Feature importance

In [51]:
pd.Series(rf.feature_importances_ , index = x.columns).sort_values(ascending = False)*100

m12                      13.190562
credit_score             10.166871
unpaid_principal_bal      9.609033
sum                       7.466607
debt_to_income_ratio      7.215161
loan_to_value             6.593277
interest_rate             6.267288
mean                      5.870031
m11                       4.622506
m9                        3.944844
kurt                      3.738335
financial_institution     3.321178
skew                      3.243641
m10                       2.684470
m8                        1.762974
loan_term                 1.639512
m7                        1.188895
number_of_borrowers       0.860485
X                         0.839503
B12                       0.740524
A23                       0.735614
Y                         0.724468
C86                       0.675724
Z                         0.597825
m4                        0.544546
m6                        0.530336
m5                        0.489395
m1                        0.255800
m2                        0.246046
m3                        0.234548
dtype: float64

**By using feature importance we can drop the features which have low importance here above we can see m5 ,m6,m1,m2,m3 all have low importance .

We can drop these and do our model again . we will do it later for now **

In [ ]:
#distribution of prediction probablities

In [56]:
threshold = 0.2
y_pred_prob = rf.predict_proba(X_test) [:,1]
y_pred = (y_pred_prob > threshold).astype(int)

In [57]:
f1_score(y_test,y_pred)

0.5796344647519583

By using this we can try to improve oru model , here we are changing the probabality thereshold and checking if our f1 score improves

In [ ]:
#fine tuning of hyparparameters
# hypar parameters are parameters which you can use inside the Random Forest calssifier like

In [58]:
rf.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [59]:
rf.get_params() # there are the paraments which we can change if we want

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [60]:
# we are chainging some of the parameters 
rft =RandomForestClassifier(n_estimators = 500 , max_depth = 10 , random_state = 42 , criterion = "entropy")

In [61]:
rft.fit(X_train , y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=500,
                       random_state=42)

In [62]:
y_pred = rft.predict(X_test)
print(f1_score(y_test , y_pred))

0.577639751552795

We can do this finetuning by playing around with hyparparameters

In [ ]:
# Gradient Boosting

In [64]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier()
gb.fit(X_train , y_train)
y_predict = gb.predict(X_test)
f1_score(y_test , y_predict)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.5362776025236593

In [65]:
gb.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'friedman_mse',
 'init': None,
 'learning_rate': 0.1,
 'loss': 'deviance',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_iter_no_change': None,
 'random_state': None,
 'subsample': 1.0,
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': 0,
 'warm_start': False}

In [ ]:
#Extreme gradient boosting

In [67]:
import xgboost

In [69]:
from xgboost import XGBClassifier

In [70]:
xgb = XGBClassifier()
xgb.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier()

In [71]:
y_pre = xgb.predict(X_test)

In [72]:
f1_score(y_test,y_pre)

0.5786163522012578